@import "../base/maps";
@import "../base/extends";
@import "../base/mixin";


* {
    font-family: map-get($common-parameters, font_family), sans-serif;
    color: white
}

.background{
    background-color: map-get($common-parameters, color-1);
}

.text-color{
    color: map-get($common-parameters, color-1);
}


li{
    a:hover{
    color: black !important;
    text-decoration: underline;
    }
}


  .bckg_image_index{
    @include bckg_image(url(../img/index/index_bckg.jpg), 50px);
  }


  .bckg_image_objeciones{
    @include bckg_image(url(../img/objeciones/gallina_bck_image.jpg), 50px);
  }

  .bckg_image_recetas{
    @include bckg_image(url(../img/recetas/bckg_recetas.jpg), 100px);
  }


  .bckg_image_salud{
    @include bckg_image(url(../img/salud/salud_bckground.jpg), 50px);
  }

  .bckg_image_introduccion{
    @include bckg_image(url(../img/introduccion/bck_image.jpg), 50px);
  }


  .bckg_image_compras{
    @include bckg_image(url(../img/compras/compras_bckg.jpg), 50px);
  }

  .background2{
    background-color: map-get($common-parameters, color-2);
  }

  .introduction_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
  }

  .transition:hover{
    transform: scale(1.1);
    transition: all 1s;
  }

  .navbar-custom .nav-link {
    font-size: 17px;
  }


  .selected{
    color: black !important;
  }

  .not_selected{
    color: white !important
  }

  .navbar-custom{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
  }


  .navbar-nav{
    margin-right: 0 !important;
  }

  .nav-item{
    margin:0;
    padding:0;
  }

  .navbar-collapse{
    flex-grow: 0;
  }

  .section_margin section, h2{
    margin-left: 20px;
  }


  .format_section h2{
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .margin_bottom_recetas{
    margin-bottom: 30px;
  }

  .center_text{
    text-align: center;
  }

  .p_bajada {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
  }

  .center_p{
    width: 80%;
    margin: 0 auto;

  }

  .center_p2{
    @include width-padding_bottom(40%, 35px);
    margin: 0 auto;
  }

  .index_topics_size{
    @include width-padding_bottom(80%, 50%);
  }

  .index_topics_alone_size{
    @include width-padding_bottom(40%, 25%);
    height: 0;
  }

  .compras_size{
    @include width-padding_bottom(55%, 30%);
  }


  .salud_topics_size{
    @include width-padding_bottom(60%, 20%);

  }

  .nutrientes_size{
    @include width-padding_bottom(55%, 63%);

  }


  .avales_size{
    @include width-padding_bottom(55%, 53%);

  }

  .recetas_size{
    @include width-padding_bottom(50%, 35%);

  }

  .carrousel_size{
    @include width-padding_bottom(60%, 39%);

  }

  .button_size{
    @include width-padding_bottom(70%, 40px);

  }

  .margin_top{
    margin-top: 30px;
  }


  .topics{
    @extend %topics;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }


  .topics2{
    @extend %topics;
    overflow: auto;

  }

  .fill_div{
    max-width: 100%;
  }

  .centered {
    @extend %centers;
    top: 50%;
    left: 50%;
    background-color: map-get($common-parameters,  centered_bckg);
    font-size: 20px;
  }

  .centered2 {
    @extend %centers;
    top: 50%;
    left: 50%;
    font-size: 20px;
  }



  .centered_down {
    @extend %centers;
    top: 85%;
    left: 50%;
    background-color: map-get($common-parameters,  centered_bckg);
    font-size: 20px;
  }

  .caps{
    text-transform: uppercase;
  }


  .button_recetas{
    width: 80%;
    position: relative;
    overflow: auto;
  }

  .button_compras, .button_nutricionistas{
    background: map-get($common-parameters, color-2);
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: map-get($common-parameters, border);
  }


  .margin_bottom div{
    margin-bottom: 20px;
  }


  footer {
    background-color: #72D3AD;
    padding: 20px 20% 20px 20%;
    display: flex;
    justify-content: space-around;
  }

  .disclaimer{
      display: none;
  }


  @media screen and (max-width:768px){
    .index_topics_alone_size{
        @include width-padding_bottom(80%, 50%);
    }

  }

  @media screen and (max-width:576px){
    .resize_social_media img{
      height: 30px;
    }
    .introduction_title{
      font-size: 25px;
    }

    .button_compras, .button_nutricionistas{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .center_p2{
      width: 60%;
    }

    .centered_down, .centered2, .button_compras, .button_nutricionistas, .button_compras{
      font-size: 15px;

    }

    .nutrientes_size{
        @include width-padding_bottom(70%, 83%);
    }

    .avales_size{
        @include width-padding_bottom(70%, 68%);

    }

    .salud_topics_size{
        @include width-padding_bottom(80%, 30%);

    }

    .compras_size{
        @include width-padding_bottom(75%, 50%);
    }

    .carrousel_size{
        @include width-padding_bottom(90%, 58%);

    }
  }





