$common-parameters: (
    color-1: #72D3AD,
    color-2:#86BDBC,
    font_family: "Poppins",
    border_radius: 10px,
    border: 1px solid white,
    centered_bckg: rgba(0, 0, 0, 0.5),
    linear_gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
)
