@mixin width-padding_bottom($width, $padding_bottom) {
    width: $width;
    padding-bottom: $padding_bottom;
}

@mixin bckg_image($url, $padding-top){
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $url;
    padding-top: $padding-top;
}